extends ../layout
block content
  div.container
    h1(style="margin-bottom: 5px") Account Settings
    a(href="/admin") Back
    br
    br
    form(action="/admin/account" method="post" role="form" enctype="multipart/form-data")
      if(messages.info)
        span
        | #{messages.info}
        br
        br
      div.inputBox.f.f-c
        label(for="")
        | Username
        h3 #{session_store.username}
      br
      div.inputBox.f.f-c
        label(for="")
        | Circle Name
        input(type="text" name="circleName" placeholder="Circle Name" value=data.circleName)

      div.inputBox.f.f-c
        label(for="")
        | Password
        input(type="password" name="password" placeholder="Password")
      br
      input(type="hidden", name="_method", value="PUT")
      button.btn(type="submit") SAVE

