extends ../layout
block content
  div.container
    h1(style="margin-bottom: 5px") Input Product  
    a(href="/admin") Back
    br
    br
    form(action="/admin/add" method="post" role="form" enctype="multipart/form-data")
      if(messages.info)
        span
        | #{messages.info}
        br
        br
          
      input(type="text" name="productName" placeholder="Product Name" )
      br
      input(type="file" name="productImage")
      br
      select(name="rarity")
        option(value="R") R
        option(value="SR") SR
        option(value="SSR") SSR
        option(value="UR") UR
      br
      input(type="text" name="basePrice" placeholder="Base Price / Item" )
      br
      input(type="text" name="stock" placeholder="Stock" )
      br
      button(type="submit" class="btn btn-submit") Submit
      
