extends ../layout
block content
  div.container
    h1(style="margin-bottom: 5px") App Configuration
    a(href="/admin") Back
    br
    br
    form(action="/admin/configuration" method="post" role="form" enctype="multipart/form-data")
      if(messages.info)
        span
        | #{messages.info}
        br
        br
      div.inputBox.f.f-c
        label(for="")
        | Draw Price
        input(type="number" name="drawPrice" placeholder="Draw Price" value=data.drawPrice)

      div.inputBox.f.f-c
        label(for="")
        | SR Rarity (%)
        input(type="number" name="SRRarity" placeholder="SR Rarity" value=data.SRRarity)
      div.inputBox.f.f-c
        label(for="")
        | SSR Rarity (%)    
        input(type="number" name="SSRRarity" placeholder="SSR Rarity" value=data.SSRRarity)
      div.inputBox.f.f-c
        label(for="")
        | UR Rarity (%)  
        input(type="number" name="URRarity" step=".01" placeholder="UR Rarity" value=data.URRarity)
      div.inputBox.f.f-c
        label(for="")
        | UR Limiter       
        input(type="number" name="URLimiter" placeholder="UR Limiter" value=data.URLimiter)

      br
      input(type="hidden", name="_method", value="PUT")
      button.btn(type="submit") SAVE

