extends ../layout
block content
  
  a(href="/admin") Back
  form(action=(_id == undefined) ? "/admin/edit/"+item._id : "/admin/edit/"+_id method="post" role="form" enctype="multipart/form-data")
    if(messages.info)
      
      span
      | #{messages.info}
      br
      br
    
    input(type="text" name="productName" placeholder="Product Name" value=item.productName)
    //- br
    //- input(type="file" name="productImage")
    br
    select(name="rarity")
      option(value="R" selected=item.rarity == 'R') R
      option(value="SR" selected=item.rarity == 'SR') SR
      option(value="SSR" selected=item.rarity == 'SSR') SSR
      option(value="UR" selected=item.rarity == 'UR') UR
    br
    input(type="text" name="basePrice" placeholder="Base Price / Item" value=item.basePrice)
    br
    input(type="text" name="stock" placeholder="Stock" value=item.stock)
    br
    input(type="hidden", name="_method", value="PUT")
    button(type="submit") SAVE

    
