extends layout
block content
  div.container
    h1 Stock
    div.f.f-r.f-btw
      div
        a(href="/admin/add") Add Product
        a(href="/transaction") Transaction History
        a(href="/admin/account") Account Settings
        if (session_store.is_admin)
          a(href="/admin/configuration") App Configuration
        
      a(href="/logout") Logout
    br
    
    table(width="100%")
      thead
        th No.
        th Product Name
        th Product Thumbnail
        th Rarity 
        th Base Price
        th Stock
        th Owner
        th Action
      tbody
        for item, index in items
          tr
            td #{index+1}
            td #{item.productName}
            td 
              if (item.productImage === '')
                p No Image
              else
                img(src=""+ item.productImage style="max-width: 150px")              
            td #{item.rarity}
            td Rp. #{item.basePrice}
            td #{item.stock}
            td #{item.user.circleName}
            td(align="center") 
              if (item.user._id == session_store.userId || session_store.is_admin)
                a(href="/admin/edit/"+item._id class="btn") Edit
                br
                form(action="/admin/delete/"+item._id method="POST" role="form")
                  input(type="hidden" name="_method" value="DELETE")
                  button(type="submit" class="btn danger") Delete
      
