doctype html
head
  meta(charset='utf-8')
  title [hZk] Web Catalog
  meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0')
  link(href='https://fonts.googleapis.com/css?family=Krub:300,400' rel='stylesheet')
  link(href='/stylesheets/catalog.css' rel='stylesheet')
.container
  .header
    h2 Web Catalog.
    p [hZk] Circle - Orenji Jicoma 2018 - Booth J2
    br
    br
    ul
      li
        a.--active(href='javascript:void(0)' onclick="filterLayout($(this), '*')") All Items
      li
        a(href='javascript:void(0)' onclick="filterLayout($(this), '.R')") R Items
      li
        a(href='javascript:void(0)' onclick="filterLayout($(this), '.SR')") SR Items
      li
        a(href='javascript:void(0)' onclick="filterLayout($(this), '.SSR')") SSR Items
  .content
    ul.grid
      for item, index in items
        li(class=item.rarity)
          .image
            img(src=images[index] alt='')

          .content
            h5 #{item.productName}
            .price
              p PRICE
              p(style="background-color: #8f1517;color: #fff;padding: 2px 10px; letter-spacing: .5px; border-radius: 3px;") GACHA

script(src='javascripts/jquery-3.3.1.min.js')
script(src='https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js')
script(type='text/javascript').
  const $grid = $('ul.grid').isotope({
  itemSelector: 'li',
  layoutMode: 'masonry'
  })
  const filterLayout = (el, category)=>{
  const cat = category;
  $('.header li a').removeClass('--active');
  el.addClass('--active');
  $grid.isotope({ filter: cat })
  }
