doctype html
head
  meta(charset='UTF-8')
  title Gacha Engine | [hZk]
  meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0")
  //- link(href='https://fonts.googleapis.com/css?family=Montserrat:300,600' rel='stylesheet')
  //- link(href='https://fonts.googleapis.com/css?family=Luckiest+Guy|Montserrat' rel='stylesheet')
  //- link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet')
  link(href='/stylesheets/fonts.css' rel='stylesheet')
    
  link(rel='stylesheet' href='/stylesheets/style.css')
.gachaPage.f.f-ctr.mdl.f-c
  //- h1 [hZk]
  div.video-bg
    video#bg(poster='img/IE_poster.jpg' autoplay='' loop='')
      //- source(src='img/kirby_360x240mp4_04.mp4')
      //- source(src='http://www.altemarecords.jp/Green_Night_Parade/media/movie/kirby_360x240mp4_04.theora.ogv')
      img.poster(src='img/IE_poster.jpg')

  .formBtn.f.f-r
    button.btn.gacha(type='button' name='button' onclick='gacha.drawOne()') Draw 1 Ticket
    button#drawTen.btn.gacha(type='button' name='button' onclick='gacha.drawTen()') Draw 5 Ticket
  .inputBox.f.mdl.checkBox
    input(type="checkbox" name="isVoucher" id="useVoucher")
    p I'm using a voucher
  .inputBox.f.mdl.checkBox
    input(type="checkbox" name="isFree" id="useFree")
    p(style="margin: 0; margin-left: 10px") Free 1 Draw
  
  .currentRate.abs.f.f-c.f-ctr.mdl
    button.powerUp(type='button' name='button' onclick='powerup.Show()') POWER UP!
    br
    //- h4 Current Rating
    ul.f.f-r.mdl
      li 
        | UR :
        span#currentUR #{rarity.URRarity}%
      li
        | SSR : 
        span#currentSSR #{rarity.SSRRarity}%
      li
        | SR : 
        span#currentSR #{rarity.SRRarity}%
      li
        | R : 
        span#currentR #{rarity.RRarity}%
  .currentStockQty.f(style="color: white")
    p 
      span SSR: 
      | #{stock.ssr}
    p 
      span SR: 
      | #{stock.sr}
    //- p R: #{stock.r}
#gachaResult.fullscreen.f.f-ctr.mdl.f-c
  div.fade
  video#gacha-1.gachaVideo
    source(src='/img/gacha-1.mp4')
  video#gacha-2.gachaVideo
    source(src='/img/gacha-2.mp4')
  div.result
    h1(style="display: none") 5 Draw Results
    ul#gachaTarget
    button.btn.next(onclick="nextOnDeca()") Next
      
    button.btn.backHome(onclick="location.reload()") Back to Home
#powerUp.popup.f.f-ctr.mdl.f-c(style='display: none;')
  .overlay
  .popupBody
    .currentRate
      h4 Power Up!
      p
        | Dengan 
        span.font-1 Power Up!
        | , kamu dapat meningkatkan rate SSR mu.
      br
      ul.f.f-c
        li.f.f-c.f-ctr.mdl
          | SSR :
          .f.f-r.f-ctr.mdl
            button.changeValue(type='button' name='button' onclick='powerup.Down()') -
            span#rateTarget(style='font-size: 32px;width:85px;text-align:center;' rate='1.5') 1.5%
            span#addValue.add(style='width: 70px;') (+0.5)
            button.changeValue(type='button' name='button' onclick='powerup.Up()') +
        li.f.f-c.mdl(style='margin-top: 10px;')
          | Harga :
          span#targetPrice(style='font-size: 32px;') Rp. 3000
  .popupFooter
    .f.f-r
      button(type='button' name='button' onclick='powerup.Close()') Batal
      button(type='button' name='button' onclick='powerup.Change()') Beli
#loadingScreen.loadingScreen.f.f-ctr.mdl.f-c
  //
    <button onclick="loading.playLoading()">Action</button>
    <button onclick="loading.resetLoading()">Reset</button>
  .mainLoading
    h2 Now Loading...
    #loadingBarParent.loadingBar
      span#loadingBarMove(count='0')
script(src="/javascripts/jquery-3.3.1.min.js")
script(src='/javascripts/gacha.js')
script(src='/javascripts/loading.js')
