doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0")
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet')
      
    link(rel='stylesheet', href='/stylesheets/admin.css')
  body
    block content
