extends layout

block content
  div.f.f-ctr.mdl.f-r
    img.background(src="" style="max-height: 90vh; width: calc(100% - 390px); object-fit: contain;")
    //- img.background(src="https://www.revzilla.com/product_images/0070/3821/shoei_rf1200_helmet_solid_matte_black.jpg" style="max-height: 90vh; width: calc(100% - 390px); object-fit: contain;")
    div.boxLogin
      h1 [hZk]
      h5.sub - Helm Zan Kembalikan -
      br 
      br
      if(messages.info)
        span.info #{messages.info}
        
      form(action="/login" method="post" role="form")
        span Username
        input(type="text" placeholder="Username" name="username")
        span Password
        input(type="password" name="password" placeholder="Password")
        br
        br
        button(type="submit") Log In
        
