extends layout
block content
  div.container
    h1 Draw History
    a(href="/admin") Back
    table(width="100%")
      thead
        th No
        th Product Image
        th Product Name
        th Owner
        th Rarity
        th Item Price
        th Draw Price
        th Drawn At
      tbody
        for row, index in item
          tr(class=(row.isTen) ? "ten" : "")
            td #{index+1}
            td 
              if (row.productImage === '' || !row.productImage)
                p No Image
              else
                img(src=""+ row.productImage style="max-width: 150px") 
            td #{row.productName}
            td
              if (row.user === undefined)
                p No User
              else 
                p #{row.user.circleName}
            td(class="rarity "+row.rarity ) #{row.rarity}
            td Rp. #{row.basePrice}
            td Rp. #{row.drawPrice}
            //- td #{time}
            td #{row.createdAt}
    br
    br
    h3 My product drawn = #{profit.myDraw}
    h3 Total Income = Rp. #{income.toLocaleString()}
    //- h3 My Cost = Rp. #{(profit.userCost).toLocaleString()}
    h3 My Gain = #{profit.currentPercent}% of Rp. #{income.toLocaleString()}
    hr
    h1 My Profit = Rp. #{profit.myProfit}