body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0
}
.f {
  display: flex;
}
.f-r {
  flex-direction: row;
}
.f-c {
  flex-direction: column;
}
.mdl {
  align-items: center;
}
.f-ctr {
  justify-content: center;
}
.f-btw {
  justify-content: space-between;
}
.f-ar {
  justify-content: space-around;
}
.f-w {
  flex-wrap: wrap;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td , table th{
  padding: 10px 10px
}
table th {
  letter-spacing: 1px
}
table thead {
  border-bottom: solid 2px #7a8184
}
table tr.ten {
  /* position: relative; */
  border-left: solid 5px red
}
/* table tr.ten::before {
  content: "";
  height: 10px;
  width: 10px;
  color: red;
  border-radius: 50%;
  position: absolute;
} */

table tbody tr:nth-child(2n){
  background: #f8f8f8
}

.rarity {
  font-weight: 600
}
.rarity.SSR{
  color: rgb(238, 67, 255);
}
.rarity.SR{
  color: gold
}

.container {
  max-width: 992px;
  margin: 0 auto
}

a {
  color: #00abff;
  font-size: 18px;
  padding: 5px 10px
}

h3{
  margin: 5px 0;
}

.btn{
  padding: 6px 10px;
  background: #000;
  color: #fff;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: .5px;
  margin: 5px;
  display: inline-block;
  min-width: 80px;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
}
.btn.danger{
  background: #d24949;
}
button.btn{
  padding: 10px 20px;
}

button.btn-submit {
  padding: 15px 30px;
  min-width: 200px;
}
input, select{
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 3px;
  bordeR: none;
  background: #eee;
  outline: none;
}
input:focus, select:focus {
  background: #f5f5f5;
}
.boxLogin span.info{
  text-align: center;
  margin-bottom: 10px;
  color: #ff4949
}
.boxLogin{
  background: #fff;
  /* position: fixed; */
  top: 0;
  width: 30%;
  right: 0;
  height: 100vh;
  padding: 50px 30px;
  box-sizing: border-box;
  border-left: solid 1px #eee;
  z-index: 2;
  max-width: 390px;
  min-width: 390px;
}

.boxLogin h1{
  text-align: center;
  font-size: 50px;
  margin: 0
}
.boxLogin h5 {
  margin: 0;
  text-align: center;
  letter-spacing: 1px;

}
.boxLogin span{
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
  color: #7a8184
}
.boxLogin input{
  /* min-width: 250px; */
  width: 100%;
  box-sizing: border-box;
  border-radius: 50px;
  border: none;
  background: #f2f2f2;
  outline: none;
  margin-bottom: 10px;
  padding: 12px 20px;
  transition: .2s ease
}
.boxLogin input:hover, .boxLogin input:focus{
  background: #eaeaea;
}
.boxLogin button{
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 20px;
  background: #111;
  color: #fff;
  border: none;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}
