body {
  font-family: 'Krub', sans-serif;
  margin: 0;
}

.container {
  max-width: 992px;
  margin: 0 auto;
  min-height: 100vh;
}


h2 {
  font-size: 80px;
  font-weight: 300;
}

.header {
  margin: 20px 0;
  margin-top: 50px;
}

.header h2 {
  margin: 0;
  line-height: 1;

}
.header p {
  margin: 10px 0;
  color: #7a8184;
  font-size: 24px
}
.header ul {
  padding: 0;
  margin: 0;
  display: flex;
}
.header ul li{
  list-style-type: none;
  margin: 0 5px;
}
.header ul li:first-child{
  margin-left: 0;
}
.header ul li a {
  padding: 5px 15px;
  background: #aaa;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  display: inline-block;
}
.header ul li a.--active {
  background: #8f1517;
}
.header ul li a.--active:hover {
  background: #8f1517;
}
.header ul li a:hover {
  background: #999;
}

.content ul{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 5px);
  margin-left: -5px;
}
.content ul li {
  list-style-type: none;
  width: calc(100% / 4 - 10px);
  margin: 5px;
}
.content ul .image {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  border: solid 1px #eaeaea;
}
.content ul .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content ul .content {
  padding: 15px 10px;
  padding-top: 10px;
}
.content ul .content h5{
  margin: 0;
  font-size: 14px;
  color: #8f1517
}
.content ul .content .price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content ul .content .price p {
  font-size: 12px;
  margin: 3px 0;
  color: #222;
  font-weight: 600;

}
.content ul .content .price p:last-child {
  font-weight: 600;
}
@media screen and (max-width: 768px){
  .header {
    margin-top: 60px;
  }
  .container {
    padding: 0 20px;
  }
  .header ul {
    overflow-x: auto;
  }
  .header ul li a {
    padding: 5px 10px;
    white-space: nowrap;
  }
  .content ul {
    width: auto;

  }
  .content ul li {
    width: calc(100% / 2 - 10px);
  }
}
@media screen and (max-width: 568px){
  .content ul li {
    width: calc(100% / 1 - 10px);
  }
  .header h2 {
    font-size: 35px;
  }
  .header ul li {
    margin: 0 3px;
  }
  .content ul .image {
    max-height: 400px;
  }
}
