.f {
  display: flex;
}
.f-r {
  flex-direction: row;
}
.f-c {
  flex-direction: column;
}
.mdl {
  align-items: center;
}
.f-ctr {
  justify-content: center;
}
.f-btw {
  justify-content: space-between;
}
.f-ar {
  justify-content: space-around;
}
.f-w {
  flex-wrap: wrap;
}
.btn {
  padding: 20px 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: Luckiest Guy;
  font-size: 22px;
  color: #333;
}
.btn[disabled]{
  opacity: .2;
  pointer-events: none;
}
.btn:hover {
  background-color: #fff;
}

.btn.gacha {
  margin: 10px;
    background-color: #acff78;
    background-image: linear-gradient(19deg, #376b55 0%, #c7ff1a 100%);
    border: solid 3px #f3ffd7;
    box-shadow: 0px 0px 40px 4px rgba(86, 255, 138, 0.2);
    letter-spacing: 1px;
    text-shadow: 0px 0px 13px rgb(83, 60, 97);
    color: white;
    border-radius: 50px;
    transition: box-shadow .4s ease;
    padding: 12px 25px
}

.btn.gacha:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 60px 0px rgba(227, 255, 143, 0.6);

}

.gachaPage {
  min-height: 100vh;
}

.gachaPage .video-bg {
  position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.gachaPage .video-bg video{
  width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
    filter: blur(50px);
}

.gachaPage .video-bg::after {
  content: '';
position: absolute;
background-image: url(../img/pattern.png);
width: 100%;
height: 100%;
background-size: auto;
z-index: 1;
top: 0;
left: 0;
background-repeat: repeat;
}


@keyframes jumping {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
h1 {
  color: white;
}

body {
  background: black;
  margin: 0;
}

h2 {
  margin: 0;
  color: #ff6883;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 2px;
  font-size: 32px;
  text-align: center;
  margin-bottom: 15px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  animation-name: jumping;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.loadingBar {
  margin: 0 auto;
  background: #eee;
  height: 40px;
  width: 80%;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  border: solid 3px #eee;
}
.loadingBar span {
  position: absolute;
  left: 0;
  height: 100%;
  width: 0px;
  background: #ff6883;
  border-radius: 50px;
  transition: all 0.1s;
}
.loadingBar span::after {
  content: attr(count);
  color: white;
  font-family: "Montserrat";
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 11px;
}


.loadingScreen {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000;
  display: none;
  transition: opacity 1s ease;
}
.loadingScreen.hide {
  opacity: 0;
}

.loadingScreen .mainLoading {
  width: 70%;
  position: absolute;
  bottom: 50px;
}

.currentRate.abs {
  position: absolute;
  bottom: 30px;
  right: 30px;
  align-items: flex-end;
}
.currentRate h4{
  color: #9fd539;
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 2px;
  margin: 0 0 15px;
}
.currentRate ul{
  margin: 0;
  padding: 0;
}
.currentRate li{
  list-style-type: none;
  color: #fff;
  padding: 0 10px;
  font-size: 12px;
  font-family: Montserrat;
}
.currentRate li span {
  font-weight: 600;
  font-size: 16px;
}
.currentRate .powerUp {
  padding: 13px 30px;
  font-family: Luckiest Guy;
  font-size: 18px;
  border-radius: 50px;
  color: #333;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
  border: none;
}
.currentRate .powerUp[disabled] {
    opacity: .2;
    pointer-events: none;
}
.currentRate .powerUp:hover {
  background: white;
}

.currentRate .add{
  display: inline-block;
  margin-left: 5px;
  color: #b0ff47;
}
.currentRate p {
  margin: 0;
  color: #333;
  font-family: Montserrat;
  margin-bottom: 20px;
}
.currentRate .changeValue {
  border-radius: 5px;
  border: none;
  font-family: Luckiest Guy;
  font-size: 22px;
  width: 30px;
  height: 30px;
  margin: 0 15px;
  color: #333;
  cursor: pointer;
  outline: none;
}

.currentRate .changeValue:hover {
  background: #eee;
}

span.font-1{
  font-family: Luckiest Guy;
  font-size: 20px;
  letter-spacing: 1px;
}

.popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.75);
}

.popupBody {
  background: #fff;
  width: 600px;
  padding: 30px 40px 50px;
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
}

.popup .currentRate h4, .popup .currentRate span, .popup .currentRate li{
  color: #333;
}

.popup .currentRate h4 {
  font-size: 48px;
  margin-bottom: 0;
}
.popup .currentRate .add {
  color: #5e9c0a
}
.popup .popupFooter{
  width: 600px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
.popup .popupFooter button{
  width: 50%;
  padding: 20px;
  font-family: Luckiest Guy;
  font-size: 22px;
  border: none;
  cursor: pointer;
  color: #333;
  outline: none;
  border-top: solid 1px #efefef;
}
.popup .popupFooter button:hover{
  background-color: #eee
}
.popup .popupFooter button:first-child{
  border-right: solid 1px #efefef;
}

.currentStockQty {
  position: absolute;
  bottom: 3px;
  left: 20px;
  border-radius: 5px;
}

.currentStockQty p {
  padding: 0 10px;
  font-family: Montserrat;
  font-weight: 600
}
.currentStockQty p span {
  font-weight: 400;
  font-size: 12px;
}

.fullscreen#gachaResult ul{
  padding: 0;
  margin: 0;
}
.fullscreen#gachaResult {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,1);
  display: none;
}

.fullscreen#gachaResult .fade {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  transition: background 1s ease;
  z-index: 1;
}

.fullscreen#gachaResult .result {
  opacity: 0;
  pointer-events: none;
  transition: .4s ease;
}

.fullscreen.decaDraw#gachaResult .result {
  width: 100%;
  height: 100%;
}
.fullscreen.decaDraw#gachaResult .result h1{
  text-align: center;
    font-family: Luckiest Guy;
    font-size: 65px;
    letter-spacing: 1px;
}
.fullscreen.decaDraw#gachaResult ul#gachaTarget.full {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
  /* margin-top: 7%; */
}
.fullscreen.decaDraw#gachaResult li.step-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: opacity .3s ease;
}

.fullscreen.decaDraw#gachaResult li.step-2 {
  width: calc(100% / 5);
  padding: 30px 0;
}
.fullscreen.decaDraw#gachaResult li.step-2.zonk {
  display: none;
}
.fullscreen.decaDraw#gachaResult li.step-2 img{
  top: 0;
  max-height: 200px;
  animation: none;
  border-radius: 5px;
}

.fullscreen#gachaResult .result.show {
  opacity: 1;
  pointer-events: auto;
  z-index: 3;
}

.fullscreen#gachaResult .btn.backHome {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: #78c1ff;
  background-image: linear-gradient(19deg, #373d6b 0%, #1af4ff 100%);
  border: solid 3px #f3ffd7;
  box-shadow: 0px 0px 40px 4px rgba(86, 107, 255, 0.2);
  letter-spacing: 1px;
  text-shadow: 0px 0px 13px rgb(60, 71, 97);
  color: white;
  border-radius: 50px;
  transition: box-shadow .4s ease;
  padding: 12px 25px;
}
.fullscreen#gachaResult .btn.next {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: #ffaa78;
  background-image: linear-gradient(19deg, #6b3737 0%, #ffc800 100%);
  border: solid 3px #f3ffd7;
  box-shadow: 0px 0px 40px 4px rgba(255, 195, 86, 0.2);
  letter-spacing: 1px;
  text-shadow: 0px 0px 13px rgb(97, 80, 60);
  color: white;
  border-radius: 50px;
  transition: box-shadow .4s ease;
  padding: 12px 25px;
}
.fullscreen#gachaResult .result .text{
  position: absolute;
  text-align: center;
  top: 100px;
}

.fullscreen#gachaResult .result .text span {
  font-family: Luckiest Guy;
  font-size: 42px
}
.fullscreen#gachaResult .result li[rarity="R"] span {
  text-shadow: 0px 0px 7px #ffcb8e;
  color: #d8a35e;
}
.fullscreen#gachaResult .result li[rarity="SR"] span {
  text-shadow: 0px 0px 10px #9521ff;
  color: #5e93d8;
  font-size: 60px;
}
.fullscreen#gachaResult .result li[rarity="SSR"] span {
  text-shadow: 0px 0px 10px #9521ff;
    color: #ef5dff;
    position: relative;
    top: -15px;
    font-size: 100px;
}
.fullscreen#gachaResult h4 {
  font-family: Luckiest Guy;
  font-size: 70px;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 2px;
  text-shadow: 0px 0px 10px rgb(255, 215, 155);
  transform: translateY(-30px);
  opacity: 0;
  transition: .825s ease;
  transition-delay: .2s;
}

.fullscreen#gachaResult .result.show h4 {
  transform: translateY(0);
  opacity: 1;
}

.fullscreen#gachaResult .fade.white {
  background: #fff;
}


video.gachaVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  position: fixed;
  transition: 1s ease;
  opacity: 0;
}
video.gachaVideo.show{
  opacity: 1;
}
.fullscreen#gachaResult.show {
  display: flex;
}

.fullscreen#gachaResult img {
  max-height: 270px;
  border-radius: 10px;
  position: relative;
  top: 125px;
  opacity: 0;
  transition: 1s ease;
  transition-delay: .8s;
}

.fullscreen#gachaResult .result.show img {
  opacity: 1;
}

.fullscreen#gachaResult li {
  color: white;
  padding: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullscreen#gachaResult li[rarity="R"] img {
  box-shadow: 0px 0px 50px 8px rgba(204, 182, 159, 0.8);
  animation-name: glowing-r;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.fullscreen#gachaResult li[rarity="SR"] img {
  box-shadow: 0px 0px 50px 8px rgba(114, 162, 251, 0.8);
  animation-name: glowing-sr;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.fullscreen#gachaResult li[rarity="SSR"] img {
  box-shadow: 0px 0px 50px 8px rgba(238, 67, 255, 0.8);
  animation-name: glowing-ssr;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.inputBox.checkBox p {
  color: #fff;
  font-family: "Luckiest Guy";
  margin-left: 10px;
}

@keyframes glowing-r {
  0% {
    box-shadow: 0px 0px 50px 8px rgba(204, 182, 159, 0.8);
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    box-shadow: 0px 0px 100px 5px rgba(204, 182, 159, 1);
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-15px);
  }
  100%{
    box-shadow: 0px 0px 50px 8px rgba(204, 182, 159, 0.8);
    transform: translateY(0);
  }
}

@keyframes glowing-sr {
  0% {
    box-shadow: 0px 0px 50px 8px rgba(114, 162, 251, 0.8);
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    box-shadow: 0px 0px 100px 5px rgba(114, 162, 251, 1);
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-15px);
  }
  100%{
    box-shadow: 0px 0px 50px 8px rgba(114, 162, 251, 0.8);
    transform: translateY(0);
  }
}

@keyframes glowing-ssr {
  0% {
    box-shadow: 0px 0px 50px 8px rgba(238, 67, 255, 0.8);
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    box-shadow: 0px 0px 100px 5px rgba(238, 67, 255, 1);
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-15px);
  }
  100%{
    box-shadow: 0px 0px 50px 8px rgba(238, 67, 255, 0.8);
    transform: translateY(0);
  }
}


@media screen and (max-width: 768px){
  .gachaPage .formBtn {
    flex-direction: column;
  }
  .currentRate.abs {
    width: 100%;
    margin: 15px 0;
  }
  .currentStockQty {
    width: 100%;
  }
  .popupBody {
    width: 100%;
  }
  .popup .popupFooter {
    width: 100%;
  }
  .popup .currentRate h4 {
    font-size: 32px;
  }
  .fullscreen#gachaResult h4 {
    font-size: 48px;
    white-space: pre-wrap;
  }
  .fullscreen#gachaResult img {
    top: 55px;
    max-width: 200px;
    max-height: 220px;
  }
  .fullscreen#gachaResult .result .text span {
    font-size: 36px;
  }
  .fullscreen#gachaResult .btn.backHome {
    bottom: 70px;
  }
  .fullscreen#gachaResult .btn.next {
    bottom: 70px;
  }
  .fullscreen#gachaResult .result .text {
    left: 0;
    width: 100%;
  }
}

